/* Body styles */
body {
  background-color: #90c7e3;
  background-image: linear-gradient(to bottom, #ffffff, #90c7e3);
  background-repeat: no-repeat;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header {
  background-color: #002171;
  color: #ffffff;
  background-image: url(sunset.jpg);
  background-position: right;
  background-repeat: no-repeat;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  margin: 0;
}

/* Footer styles */
footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, "Times New Roman", serif;
  padding: 20px;
}

/* Remove margin for h1 tags, with the class "header-title", that are in the header section */
header h1.header-title {
  margin: 0;
}

/* Nav styles */
nav {
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

/* h-tags (h1, h2, etc.) styles */
h1 {
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0;
}

h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", serif;
}

h3 {
  color: #000066;
  font-family: Georgia, "Times New Roman", serif;
}

/* Main style -------------------------*/
main {
  padding: 1px 20px 20px 20px;
  display: block; /* For Internet Explorer */
}

/* List styles ------------------------*/
ul {
  list-style-image: url(marker.gif);
}

/* Table styles */
dt {
  color: #000033;
}

/* Class styles -----------------------*/
.resort {
  color: #3399cc;
  font-weight: bold;
}

/* ID styles --------------------------*/
#wrapper {
  margin: 0 auto;
  width: 80%;
  background-color: #ffffff;
  min-width: 960px;
  max-width: 2048px;
  box-shadow: 3px 3px 3px #333333;
}
